/*STYLES GENERAUX*/
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("PHOTO-CLUSTER-VIDE-1024x681.png") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

footer{
    border-top: 2px solid #fff;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.prez{
    border-bottom: 2px dashed #ccc;
}
.prez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #EA0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}

/*SECTION EXP ET FORMATION*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

/*SECTION COMPETENCES*/
.h3gauche{
    width: 90%;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c0 { width: 0%; background-color: #8B8; }
.c1 { width: 1%; background-color: #8B8; }
.c2 { width: 2%; background-color: #8B8; }
.c3 { width: 3%; background-color: #8B8; }
.c4 { width: 4%; background-color: #8B8; }
.c5 { width: 5%; background-color: #8B8; }
.c6 { width: 6%; background-color: #8B8; }
.c7 { width: 7%; background-color: #8B8; }
.c8 { width: 8%; background-color: #8B8; }
.c9 { width: 9%; background-color: #8B8; }
.c10 { width: 10%; background-color: #8B8; }
.c11 { width: 11%; background-color: #8B8; }
.c12 { width: 12%; background-color: #8B8; }
.c13 { width: 13%; background-color: #8B8; }
.c14 { width: 14%; background-color: #8B8; }
.c15 { width: 15%; background-color: #8B8; }
.c16 { width: 16%; background-color: #8B8; }
.c17 { width: 17%; background-color: #8B8; }
.c18 { width: 18%; background-color: #8B8; }
.c19 { width: 19%; background-color: #8B8; }
.c20 { width: 20%; background-color: #8B8; }
.c21 { width: 21%; background-color: #8B8; }
.c22 { width: 22%; background-color: #8B8; }
.c23 { width: 23%; background-color: #8B8; }
.c24 { width: 24%; background-color: #8B8; }
.c25 { width: 25%; background-color: #8B8; }
.c26 { width: 26%; background-color: #8B8; }
.c27 { width: 27%; background-color: #8B8; }
.c28 { width: 28%; background-color: #8B8; }
.c29 { width: 29%; background-color: #8B8; }
.c30 { width: 30%; background-color: #8B8; }
.c31 { width: 31%; background-color: #8B8; }
.c32 { width: 32%; background-color: #8B8; }
.c33 { width: 33%; background-color: #8B8; }
.c34 { width: 34%; background-color: #8B8; }
.c35 { width: 35%; background-color: #8B8; }
.c36 { width: 36%; background-color: #8B8; }
.c37 { width: 37%; background-color: #8B8; }
.c38 { width: 38%; background-color: #8B8; }
.c39 { width: 39%; background-color: #8B8; }
.c40 { width: 40%; background-color: #8B8; }
.c41 { width: 41%; background-color: #8B8; }
.c42 { width: 42%; background-color: #8B8; }
.c43 { width: 43%; background-color: #8B8; }
.c44 { width: 44%; background-color: #8B8; }
.c45 { width: 45%; background-color: #8B8; }
.c46 { width: 46%; background-color: #8B8; }
.c47 { width: 47%; background-color: #8B8; }
.c48 { width: 48%; background-color: #8B8; }
.c49 { width: 49%; background-color: #8B8; }
.c50 { width: 50%; background-color: #8B8; }
.c51 { width: 51%; background-color: #8B8; }
.c52 { width: 52%; background-color: #8B8; }
.c53 { width: 53%; background-color: #8B8; }
.c54 { width: 54%; background-color: #8B8; }
.c55 { width: 55%; background-color: #8B8; }
.c56 { width: 56%; background-color: #8B8; }
.c57 { width: 57%; background-color: #8B8; }
.c58 { width: 58%; background-color: #8B8; }
.c59 { width: 59%; background-color: #8B8; }
.c60 { width: 60%; background-color: #8B8; }
.c61 { width: 61%; background-color: #8B8; }
.c62 { width: 62%; background-color: #8B8; }
.c63 { width: 63%; background-color: #8B8; }
.c64 { width: 64%; background-color: #8B8; }
.c65 { width: 65%; background-color: #8B8; }
.c66 { width: 66%; background-color: #8B8; }
.c67 { width: 67%; background-color: #8B8; }
.c68 { width: 68%; background-color: #8B8; }
.c69 { width: 69%; background-color: #8B8; }
.c70 { width: 70%; background-color: #8B8; }
.c71 { width: 71%; background-color: #8B8; }
.c72 { width: 72%; background-color: #8B8; }
.c73 { width: 73%; background-color: #8B8; }
.c74 { width: 74%; background-color: #8B8; }
.c75 { width: 75%; background-color: #8B8; }
.c76 { width: 76%; background-color: #8B8; }
.c77 { width: 77%; background-color: #8B8; }
.c78 { width: 78%; background-color: #8B8; }
.c79 { width: 79%; background-color: #8B8; }
.c80 { width: 80%; background-color: #8B8; }
.c81 { width: 81%; background-color: #8B8; }
.c82 { width: 82%; background-color: #8B8; }
.c83 { width: 83%; background-color: #8B8; }
.c84 { width: 84%; background-color: #8B8; }
.c85 { width: 85%; background-color: #8B8; }
.c86 { width: 86%; background-color: #8B8; }
.c87 { width: 87%; background-color: #8B8; }
.c88 { width: 88%; background-color: #8B8; }
.c89 { width: 89%; background-color: #8B8; }
.c90 { width: 90%; background-color: #4B8; }
.c91 { width: 91%; background-color: #4B8; }
.c92 { width: 92%; background-color: #4B8; }
.c93 { width: 93%; background-color: #4B8; }
.c94 { width: 94%; background-color: #4B8; }
.c95 { width: 95%; background-color: #4B8; }
.c96 { width: 96%; background-color: #4B8; }
.c97 { width: 97%; background-color: #4B8; }
.c98 { width: 98%; background-color: #4B8; }
.c99 { width: 99%; background-color: #4B8; }
.c100 { width: 100%; background-color: #4B8; border-radius: 5px; }
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: #EA0;
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .prez a{
        border: 2px solid transparent;
    }
    .prez a:hover{
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}